main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 700px;
  max-width: 90vw;
  padding: 0.8rem;
  margin: 0 auto;
}

main input {
  font-family: inherit;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  width: 80%;
}

main span {
  font-size: 1.5em;
  font-weight: 700;
}

main div {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: center;
}

main div span {
  cursor: pointer;
}

main div span:hover {
  transform: scale(1.25);
}
